<div class='container-fluid'>
  <h3 class='row text-white'>Search Pharmacies</h3>
  <div class='row'>
    <div class='col-3'>
      <%= form_for :pharmacy, url: search_pharmacies_path, remote: true, method: "get" do |f| %>
        <%= f.label :insurance_plan %><br />
        <%= f.select :insurance_plan, @plans, { include_blank: true }, 
                { class: 'custom-select bg-dark text-white' } %>
        <%= f.label :network %><br />
        <%= f.select :network, grouped_options_for_select(@networks), { include_blank: true },
                { class: 'custom-select bg-dark text-white' } %>
        <%= f.label :specialty %><br />
            <%= f.select :specialty, @specialties, { include_blank: true }, 
                        { class: 'custom-select bg-dark text-white' } %>
        <%= f.label :zip %><br />
        <%= f.text_field :zip, class: 'form-control bg-dark text-white' %>
        <%= f.label :radius %><br />
        <%= f.text_field :radius, class: 'form-control bg-dark text-white' %>
        <%= f.label :city %><br />
        <%= f.text_field :city, class: 'form-control bg-dark text-white' %>
        <%= f.label :name %><br />
        <%= f.text_field :name, class: 'form-control bg-dark text-white' %>
        <%= f.submit 'Find', class: 'btn btn-outline-success', id: 'healthcare-service-search-button' %>
      <% end %>
    </div>
    <div class='col-9'>
      <div id="pharmacy-query">
      </div>
      <div id="pagination">
      </div>
      <table id="pharmacies-table" class="table table-dark">
      </table>
    </div>
  </div>
</div>
