<%= form_tag practitioners_path, method: 'get' do %>
  <div class='row'>
    <div class='col'>
      <%= text_field_tag 'query[_id]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'ID' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[endpoint]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Endpoint' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[family-name]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Family Name' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[given-name]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Given Name' %>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <%= text_field_tag 'query[identifier-assigner]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Identifier Assigner' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[identifier]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Identifier' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[name]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Name' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[phonetic]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Phonetic' %>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <%= text_field_tag 'query[qualification-code]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Qualification Code' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[qualification-issuer]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Qualification Issuer' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[qualification-period]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Qualification Period' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[qualification-status]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Qualification Status' %>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <%= text_field_tag 'query[qualification-wherevalid-code]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Qualification Where Valid Code' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[qualification-wherevalid-location]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Qualification Where Valid Location' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[via-intermediary]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Intermediary' %>
    </div>
  </div>

  <%= button_tag class: 'btn btn-outline-success my-2 my-sm-0' do %>
    Find
  <% end %>
<% end %>
