<section class='container'>
  <section class='row col-12'>
    <div class='col-12'>
      <h3 class='float-left text-white'>
        Practitioners
        <%= ("named '" + sanitize(@params[:name]) + "'") unless @params[:name].nil? %>
      </h3>
      <%= render 'partials/query' %>
      <%= render 'partials/pagination', resource: :practitioners %>
    </div>
    <div class='col-12 search'>
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header bg-dark text-white" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Search
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse bg-dark text-white" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <%= render 'partials/search_form',
                         query_params: @query_params,
                         search_path: practitioners_path
              %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class='table table-dark'>
      <tr>
        <th scope='col'>Name</th>
        <th scope='col'>Phone/Fax</th>
        <th scope='col'>Locations</th>
        <th scope='col'>Gender</th>
        <th scope='col'>Licenses</th>
      </tr>
      <% @practitioners.each do |fhir_practitioner| %>
        <% practitioner = Practitioner.new(fhir_practitioner) %>
        <tr>
          <td>
            <%= link_to practitioner_path(practitioner.id) do %>
              <%= display_photo(practitioner.photo, practitioner.gender, 
                        class: 'list-photo') %><br />
              <%= display_human_name(practitioner.name.first) %>
            <% end %>
          </td>
          <td>
            <% practitioner.telecoms.each do |telecom| %>
              <%= display_telecom(telecom) %><br /><br />
            <% end %>
          </td>
          <td>
            <% practitioner.addresses.each do |address| %>
              <%= render partial: 'partials/address', 
                          locals: { address: address } %>
            <% end %>
          </td>
          <td><%= practitioner.gender %></td>
          <td>
            <% practitioner.qualifications.each do |qualification| %>
              <%= render partial: 'qualification', 
                        locals: { qualification: qualification } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <div class='col-12'>
      <%= render 'partials/pagination', resource: :practitioners ,header: false %>
    </div>
  </section>

</section>
