<section class='container'>
  <section class='row col-12'>
    <div class='col-12'>
      <h3 class='float-left text-white'>Organization Affiliations</h3>
      <%= render 'partials/query' %>
      <%= render 'partials/pagination', resource: :organization_affiliations %>
    </div>
    <div class='col-12 search'>
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header bg-dark text-white" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Search
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse bg-dark text-white" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <%= render 'partials/search_form',
                         query_params: @query_params,
                         search_path: organization_affiliations_path
              %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class='table table-dark table-bordered table-striped'>
      <tr>
        <th scope='col' style="width: 10%"> ID</th>
        <th scope='col'>Organization</th>
        <th scope='col'>Networks</th>
        <th scope='col'>Identifiers</th>  
        <th scope='col'>Participating Organization</th>
        <th scope='col'>Codes</th>
        <th scope='col'>Specialties</th>
        <th scope='col'>Locations</th>
        <th scope='col'>Healthcare Services</th>
        <th scope='col'>Phone/Fax</th>
        <th scope='col'>Endpoints</th>
      </tr>
      <% @organization_affiliations.each do |fhir_organization_affiliation| %>
        <% organization_affiliation = OrganizationAffiliation.new(fhir_organization_affiliation) %>
        <tr>
       <td>
       <a href="#" data-toggle="tooltip" title= "<%= organization_affiliation.id %>" >  <%= organization_affiliation.id.split('-').last %> </td> </a>
              <td><%= display_reference(organization_affiliation.organization) %>
              </td>
       <td>

            <%= display_reference_list(organization_affiliation.networks,use_controller:"networks") %>
          </td>
          <td>
            <% organization_affiliation.identifiers.each do |identifier| %>
              <%= display_identifier(identifier) %><br />
              <%= display_period(identifier.period) %><br />
            <% end %>
          </td>
          <td><%= display_reference(organization_affiliation.participating_organization) %></td>
          <td><%= display_coding_list(organization_affiliation.codes) %></td>
          <td><%= display_list(organization_affiliation.specialties) %></td>
          <td><%= display_reference_list(organization_affiliation.locations) %></td>
          <td><%= display_reference_list(organization_affiliation.healthcare_services) %></td>
          <td><%= display_list(organization_affiliation.telecoms) %></td>
          <td><%= display_list(organization_affiliation.endpoints) %></td>
        </tr>
      <% end %>
    </table>
    <div class='col-12'>
      <%= render 'partials/pagination', resource: :organization_affiliations, header: false %>
    </div>
  </section>

</section>
