<section class='container'>
  <section class='row col-12'>
    <div class='col-12'>
      <h3 class='float-left text-red'>Networks</h3>
      <%= render 'partials/query' %>
      <%= render 'partials/pagination', resource: :networks %>
    </div>
    <div class='col-12 search'>
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header bg-dark text-white" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Search
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse text-white" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <%= render 'partials/search_form',
                         query_params: @query_params,
                         search_path: networks_path
              %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class='table table-dark '>
      <tr>
        <th scope='col'>Name</th>
        <th type='col'>Type</th>
        <th scope='col'>Phone/Fax</th>
        <th scope='col'>Locations</th>
        <th scope='col'>Contacts</th>
      </tr>
      <% @networks.each do |fhir_network| %>
        <% network = Organization.new(fhir_network) %>
        <tr>
          <td><%= link_to sanitize(network.name), network_path(network.id) %></td>
          <td><%=network.type.map(&:text).join(',') %></td>
          <td>
            <% network.telecoms.each do |telecom| %>
              <%= display_telecom(telecom) %><br />
            <% end %>
          </td>
          <td>
            <% network.addresses.each do |address| %>
              <% address.line.each do |line| %>
                <%= sanitize(line) %><br />
              <% end %>
              <%= sanitize(address.city) %>, 
              <%= sanitize(address.state) %> 
              <%= display_postal_code(address.postalCode) %><br />
              <br />
            <% end %>
          </td>
          <td>
            <% network.contacts.each do |contact| %>
              <%= display_human_name(contact.name) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <div class='col-12'>
      <%= render 'partials/pagination', resource: :networks, header: false %>
    </div>
  </section>
</section>

