<section class='container'>
  <section class='row'>
    <% unless @network.nil? %>
      <div class='col-12'>
        <h2>Network: <%= sanitize(@network.name) %></h2>
      </div>
      <!–– <div class='col-6' id='map' ––>
      <!–– </div ––>
      <div class='col-12'>
        <table class='table table-dark'>
                <tr>
            <td>Contact:</td>
            <td>
              <% @network.contacts.each do |contact| %>
                <%= display_human_name(contact.name) %><br />
              <% end %>
            </td>
          </tr>
            <tr>
            <td>Phone/Fax:</td>
            <td>
              <% @network.contacts.each do |contact| %>
                <% contact.telecom.each do |telecom |%>
                       <%= display_telecom(telecom) %><br />
               <% end %>
              <% end %>
            </td>
          </tr>

           <tr>
            <td>Locations:</td>
            <td>
              <% @network.addresses.each do |address| %>
              <%= render partial: 'partials/address',  locals: { address: address } %>
                <br />
              <% end %>
            </td>
          </tr>
          <tr>
          <td>Part of:</td>
          <td><%= display_reference(@network.partOf ) %></td>
        </tr>
            <tr>
          <td>Type:</td>
          <td><%= @network.type.map(&:text).join(',') %></td>
        </tr>

        </table>
      </div>
    <% else %>
      Not available
    <% end %>

  </section>
</section>
