<header>
	<nav class='navbar fixed-top navbar-expand-lg bg-dark navbar-dark'>
		<div class='navbar-brand'>
			<%= link_to root_path do %>
				<%# image_tag 'logo.png', id: 'logo', alt: '' %>
				<h1>Plan Networks</h1>
			<% end %>
		</div>
	  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
	    <span class='navbar-toggler-icon'></span>
	  </button>

	  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
	    <ul class='navbar-nav mr-auto'>
	      <li class='nav-item dropdown'>
	        <a class='nav-link dropdown-toggle' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
	          Resources
	        </a>
	        <div class='dropdown-menu' aria-labelledby='navbarDropdown'>
	          <%= link_to 'Endpoints', endpoints_path, class: 'dropdown-item' %>
	          <%= link_to 'Healthcare Services', healthcare_services_path, class: 'dropdown-item' %>
	          <%= link_to 'Insurance Plans', insurance_plans_path, class: 'dropdown-item' %>
	          <%= link_to 'Networks', networks_path, class: 'dropdown-item' %>
	          <%= link_to 'Organizations', organizations_path, class: 'dropdown-item' %>
	          <%= link_to 'Organization Affiliation', organization_affiliations_path, class: 'dropdown-item' %>
	          <%= link_to 'Practitioners', practitioners_path, class: 'dropdown-item' %>
	          <%= link_to 'Practitioner Roles', practitioner_roles_path, class: 'dropdown-item' %>
	        </div>
	      </li>
	    </ul>
			<%= form_tag practitioners_path, method: 'get', class: 'form-inline my-2 my-lg-0' do %>
				<%= text_field_tag :name, nil, class: 'form-control mr-sm-2', placeholder: 'Practitioner Name' %>
				<%= button_tag class: 'btn btn-outline-success my-2 my-sm-0' do %>
					Search
				<% end %>
			<% end %>
	  </div>			
	</nav>
</header>
