<section class='container'>
  <section class='row col-12'>
    <div class='col-12'>
      <h3 class='float-left text-white'>Endpoints</h3>
      <%  header = true %>
      <%= render 'partials/query' %>
      <%= render 'partials/pagination', resource: :endpoints %>
    </div>
    <div class='col-12 search'>
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header bg-dark text-white" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Search
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse bg-dark text-white" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <%= render 'partials/search_form',
                         query_params: @query_params,
                         search_path: endpoints_path
              %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class='table table-dark'>
      <tr>
        <th scope='col'>Name</th>
        <th scope='col'>Connection Type</th>
        <th scope='col'>Managing Organization</th>
        <th scope='col'>Contacts</th>
        <th scope='col'>Period</th>
        <th scope='col'>Payload Types</th>
        <th scope='col'>Payload MIME Types</th>
        <th scope='col'>Headers</th>
      </tr>
      <% @endpoints.each do |fhir_endpoint| %>
        <% endpoint = Endpoint.new(fhir_endpoint) %>
        <tr>
          <td><%= link_to sanitize(endpoint.name), endpoint_path(endpoint.id) %></td>
          <td><%= sanitize(endpoint.connection_type.display) %></td>
          <td><%= display_reference(endpoint.managing_organization) %></td>
          <td>
            <% endpoint.contacts.each do |contact| %>
              <%= display_telecom(contact) %><br />
            <% end %>
          </td>
          <td><%= sanitize(endpoint.period) %></td>
          <td><%= display_coding_list(endpoint.payload_types) %></td>
          <td><%= sanitize(endpoint.payload_mime_types.join(', ')) %></td>
          <td><%= display_list(endpoint.headers) %></td>
        </tr>
      <% end %>
    </table>
    <div class='col-12'>
      <%= render 'partials/pagination', resource: :endpoints, header: false %>
    </div>
  </section>
</section>
