<%= form_tag practitioner_roles_path, method: 'get' do %>
  <div class='row'>
    <div class='col'>
      <%= text_field_tag 'query[_id]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'ID' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[endpoint]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Endpoint' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[identifier-assigner]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Identifier-assigner' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[identifier]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Identifier' %>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <%= text_field_tag 'query[location]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Location' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[network]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Network' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[new-patient-network]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'New Patient Network' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[new-patient]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'New Patient' %>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <%= text_field_tag 'query[organization]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Organization' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[practitioner]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Practitioner' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[qualification-code]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Qualfication Code' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[qualification-issuer]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Qualification Issuer' %>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <%= text_field_tag 'query[qualification-status]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Qualification Status' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[qualification-wherevalid-code]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Qualification Where Valid Code' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[qualification-wherevalid-location]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Qualification Where Valid Location' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[role]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Role' %>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <%= text_field_tag 'query[service]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Service' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[specialty]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Specialty' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[via-intermediary]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Intermediary' %>
    </div>
  </div>

  <%= button_tag class: 'btn btn-outline-success my-2 my-sm-0' do %>
    Find
  <% end %>
<% end %>
