<section class='container'>
  <section class='row col-12'>
    <div class='col-12'>
      <h3 class='float-left text-white'>Practitioner Roles</h3>
      <%= render 'partials/query' %>
      <%= render 'partials/pagination', resource: :practitioner_roles %>
    </div>
    <div class='col-12 search'>
      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header bg-dark text-white" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Search
              </button>
            </h2>
          </div>
          <div id="collapseOne" class="collapse bg-dark text-white" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <%= render 'partials/search_form',
                         query_params: @query_params,
                         search_path: practitioner_roles_path
              %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class='table table-dark'>
      <tr>
        <th scope='col'>Period</th>
        <th scope='col'>Practitioner</th>
        <th scope='col'>Organization</th>
        <th scope='col'>Specialties</th>
        <th scope='col'>Locations</th>
        <th scope='col'>Healthcare Services</th>
        <th scope='col'>Phone/Fax</th>
        <th scope='col'>Available Times</th>
        <th scope='col'>Not Available</th>
        <th scope='col'>Availability Exceptions</th>
        <th scope='col'>Endpoints</th>
      </tr>
      <% @practitioner_roles.each do |fhir_practitioner_role| %>
        <% practitioner_role = PractitionerRole.new(fhir_practitioner_role) %>
        <tr>
          <td>
            <% if practitioner_role.period != nil %>
            <%= practitioner_role.period.start %> <%= practitioner_role.period.end %>
            <% end %>
          </td>
          <td><%= display_reference(practitioner_role.practitioner) %></td>
          <td><%= display_reference(practitioner_role.organization) %></td>
          <td><%= display_coding_list(practitioner_role.specialties) %></td>
          <td>
            <% practitioner_role.locations.each do |location| %>
              <%= display_reference(location) %><br />
            <% end %>
          </td>
          <td>
            <% practitioner_role.healthcare_services.each do |healthcare_service| %>
              <%= display_reference(healthcare_service) %><br />
            <% end %>
          </td>
          <td>
            <% practitioner_role.telecoms.each do |telecom| %>
              <%= display_telecom(telecom) %><br />
            <% end %>
          </td>
          <td>
            <% practitioner_role.available_times.each do |time| %>
              <%= sanitize(time.daysOfWeek.join(', ')) %>: 
              <%= sanitize(time.availableStartTime) %> to 
              <%= sanitize(time.availableEndTime) %><br />
            <% end %>
          </td>
          <td><%= display_list(practitioner_role.not_availables) %></td>
          <td><%= sanitize(practitioner_role.availability_exceptions) || "None" %></td>
          <td>
            <% practitioner_role.endpoints do |endpoint| %>
              <%= display_reference(endpoint) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <div class='col-12'>
      <%= render 'partials/pagination', resource: :practitioner_roles,header: false  %>
    </div>
  </section>
</section>
