<section class='container'>
	<section class='row col-12'>
		<div class='col-12'>
			<h3 class='float-left text-white'>Insurance Plans</h3>
      <%= render 'partials/pagination', resource: :insurance_plans %>
		</div>
		<table class='table table-dark'>
			<tr>
				<th scope='col'>Name</th>
				<th scope='col'>Owned By</th>
				<th scope='col'>Administered By</th>
				<th scope='col'>Coverage Areas</th>
				<th scope='col'>Contacts</th>
				<th scope='col'>Endpoints</th>
				<th scope='col'>Networks</th>
			</tr>
			<% @insurance_plans.each do |fhir_insurance_plan| %>
				<% insurance_plan = InsurancePlan.new(fhir_insurance_plan) %>
				<tr>
					<td><%= sanitize(insurance_plan.name) %></td>
					<td><%= sanitize(insurance_plan.owned_by.display) %></td>
					<td><%= sanitize(insurance_plan.administered_by.display) %></td>
					<td><%= sanitize(insurance_plan.coverage_areas.map(&:display).join(', ')) %></td>
					<td><%= display_list(insurance_plan.contacts) %></td>
					<td><%= display_list(insurance_plan.endpoints) %></td>
					<td><%= display_list(insurance_plan.networks) %></td>
				</tr>
			<% end %>
		</table>
		<div class='col-12'>
      <%= render 'partials/pagination', resource: :insurance_plans %>
		</div>
	</section>
</section>
