<section class='container'>
  <section class='row col-12'>
    <% unless @insurance_plan.nil? %>
      <h2><%= sanitize(@insurance_plan.name) %></h2>
      <table class='table table-dark'>
        <tr>
          <td>Owned by:</td>
          <td><%= display_reference(@insurance_plan.owned_by) %></td>
        </tr>
        <tr>
          <td>Administered by:</td>
          <td><%= display_reference(@insurance_plan.administered_by) %></td>
        </tr>
        <tr>
          <td>Coverage Areas:</td>
          <td><%= sanitize(@insurance_plan.coverage_areas.map(&:display).join(', ')) %></td>
        </tr>
        <tr>
          <td>Type:</td>
          <td><%= @insurance_plan.type.map(&:text).join(',') %></td>
        </tr>
        <tr>
          <td>Networks:</td>
					<td><% @insurance_plan.networks.each do |network| %>
						<%= display_reference(network) %>
						<br>
					<% end %>
					</td>
        </tr>

       </table>
    <% else %>
      Not available
    <% end %>
  </section>
</section>

