<%= form_tag locations_path, method: 'get' do %>
  <div class='row'>
    <div class='col'>
      <%= text_field_tag 'query[_id]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'ID' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[accessibility]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Accessibility' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[address]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Address' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[contains]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Contains' %>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <%= text_field_tag 'query[endpoint]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Endpoint' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[identifier-assigner]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Identifier Assigner' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[identifier]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Identifier' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[new-patient-network]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'New Patient Network' %>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <%= text_field_tag 'query[new-patient]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'New Patient' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[organization]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Organization' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[partof]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Part Of' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[status]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Status' %>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <%= text_field_tag 'query[type]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Type' %>
    </div>
    <div class='col'>
      <%= text_field_tag 'query[via-intermediary]', nil, 
                class: 'form-control bg-dark text-white', 
                placeholder: 'Intermediary' %>
    </div>
  </div>

  <%= button_tag class: 'btn btn-outline-success my-2 my-sm-0' do %>
    Find
  <% end %>
<% end %>
