<section class='container'>
  <section class='row'>
    <% unless @location.nil? %>
      <div class='col-12'>
        <h2>Location: <%= sanitize(@location.name) %></h2>
      </div>
       <div class="col-md-8" >
          <div id="map" style='border: 1px solid red '>
           <%= render partial: 'partials/mapleaflet' , locals: { lat: @location.position.latitude , long: @location.position.longitude } %>
           </div>
        </div>
      <div class='col-4'>
        <table class='table table-dark'>
          <tr>
            <td>Name:</td>
            <td><%= sanitize(@location.name) %></td>
          </tr>
          <tr>
            <td>Description:</td>
            <td><%= sanitize(@location.description) %></td>
          </tr>
          <tr>
            <td>Operational Status:</td>
            <td><%= sanitize(@location.operational_status) %></td>
          </tr>
          <tr>
            <td>Mode:</td>
            <td><%= sanitize(@location.mode) %></td>
          </tr>
          <tr>
            <td>Type:</td>
            <td><%= display_location_type(@location.type) %></td>
          </tr>
          <tr>
            <td>Phone/Fax:</td>
            <td>
              <% @location.telecoms.each do |telecom| %>
                <%= display_telecom(telecom) %><br />
              <% end %>
            </td>
          </tr>
          <tr>
            <td> Address
            </td>
            <td>
            <%= render partial: 'partials/address', 
                       locals: { address: @location.address } %>
          </tr>
          <tr>
            <td>Physical Type:</td>
            <td><%= sanitize(@location.physical_type) %></td>
          </tr>
          <tr>
            <td>Position:</td>
            <td><%= display_position(@location.position) %></td>
          </tr>
          <tr>
            <td>Managing Organization:</td>
            <td><%= display_reference(@location.managing_organization) %></td>
          </tr>
          <tr>
            <td>Part Of:</td>
            <td><%= display_reference(@location.part_of) %></td>
          </tr>
          <tr>
            <td>Hours of Operation:</td>
            <td>
              <% @location.hours_of_operations.each do |time| %>
                <%= sanitize(time.daysOfWeek.join(', ')) %>: 
                <%= sanitize(time.openingTime) %> to 
                <%= sanitize(time.closingTime) %><br />
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Availability Exceptions:</td>
            <td><%= sanitize(@location.availability_exceptions) %></td>
          </tr>
          <tr>
            <td>Endpoints:</td>
            <td><%= display_list(@location.endpoints) %></td>
          </tr>        
        </table>
      </div>
    <% else %>
      Not available
    <% end %>
  </section>
</section>
